@{
  Layout = "_Layout";
}
@model BestRestaurants.Models.Cuisine;

<h2>Cuisine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<ul>
@if (@Model.JoinEntities.Count == 0)
{
  <p>No restaurants with this cuisine! :(</p>
}
  <h4>restaurants with this cuisine: </h4>
  @foreach(var join in @Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Restaurant.Name}", "Details", "Restaurants", new {id = join.RestaurantId})
      @using (Html.BeginForm("DeleteRestaurant", "Cuisines"))
    {
      @Html.Hidden("joinId", @join.CuisineRestaurantId)
      <input type="submit" value="Delete" />
    }
    </li>
  }
</ul>
<p>@Html.ActionLink("Add Restaurant", "Create", "Restaurants")</p>
<p>@Html.ActionLink("Back to Cuisines", "Index")</p>
<p>@Html.ActionLink("Edit Cuisine", "Edit", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Delete Cuisine", "Delete", new { id = Model.CuisineId })</p>


