@{
  Layout = "_Layout";
}
@model BestRestaurants.Models.Restaurant

<h2>Restaurant Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3><br>
<h3>@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)</h3><br>
<h3>@Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(model => model.PhoneNumber)</h3><br>
<ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Cuisine.Name</li>
    @using (Html.BeginForm("DeleteCuisine", "Restaurants"))
    {
      @Html.Hidden("joinId", @join.CuisineRestaurantId)
      <input type="submit" value="Delete" />
    }
  }
</ul>
<hr />
@foreach (var review in @Model.Reviews)
{
  <li>Review: @review.Description</li>
  <li>User: @review.Name</li>
  <hr />
}
<p>@Html.ActionLink("Back to restaurant list", "Index")</p>
<p>@Html.ActionLink("Edit restaurant", "Edit", new { id = Model.RestaurantId})</p>
<p>@Html.ActionLink("Remove restaurant", "Delete", new {id = Model.RestaurantId})
<p>@Html.ActionLink("Add a cuisine", "AddCuisine", new { id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Leave a review", "Create", "Review")