@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.CuisineRestaurant

<h2>Edit</h2>

<h4>Edit this restaurant: @Html.DisplayFor(model => model.Restaurant.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RestaurantId)
  @Html.Hidden("joinId", Model.CuisineRestaurantId)
  @Html.LabelFor(model => model.Restaurant.Name)
  @Html.EditorFor(model => model.Restaurant.Name)
  @Html.LabelFor(model => model.Restaurant.Address)
  @Html.EditorFor(model => model.Restaurant.Address)
  @Html.LabelFor(model => model.Restaurant.PhoneNumber)
  @Html.EditorFor(model => model.Restaurant.PhoneNumber)

  @Html.Label("Select Cuisine")
  @Html.DropDownList("CuisineId")

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to restaurant list", "Index")</p>